@font-face {
    font-family: 'NegotiateFree';
    src: url('../fonts/negotiate_free-webfont.eot');
    src: url('../fonts/negotiate_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/negotiate_free-webfont.woff') format('woff'),
         url('../fonts/negotiate_free-webfont.ttf') format('truetype'),
         url('../fonts/negotiate_free-webfont.svg#NegotiateFree') format('svg');
    font-weight: normal;
    font-style: normal;

}
.spacer{
	padding-left: 25px;
}
.center{
	float: none;
}
.dropdown-menu{
  max-height: 512px;
  overflow-y: auto;
}
.navbar .brand-custom { 
	max-height: 40px; 
	overflow: visible;
	padding-top: 0;
	padding-bottom: 0; }
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	body{
		padding: 20px 0 0 0;
		margin: auto;

	}
	 .nav-collapse{
	 	margin: 0;
	 	padding: 0;

	 }
	.dropdown-menu{
  max-height: 357px;
  overflow-y: auto;
	}
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	body{
		padding-top: 20px;
	}
	.dropdown-menu{
  max-height: 512px;
  overflow-y: auto;
  min-width: 300px;
	}
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		padding-top: 20px;
	}
	.dropdown-menu{
  max-height: 800px;
  overflow-y: auto;
  min-width: 300px;
	}
}

body { 
	background: url("../images/grey_background.png");

}
.wrapper{
	width: 960px;
  margin: 0 auto;
  font-family: NegotiateFree;

}
.status{
	font-family: NegotiateFree;
	font-weight: bold;
	text-align: center;
	padding-top: 3%;
	font-size: 2.2em;
	line-height: 1em
	
}
.status-message{
	font-weight: normal;
	color: #000;
}
.message{
	text-align: center;
}


#red {
	color: #c60c30;
}
#blue {
	color: #00a1de;
}
#brn {
	color: #62361b;
}
#g {
	color: #009b3a;
}
#org {
	color: #f9461c;
}
#p {
	color: #522398;
}
#pexp {
	color: #522398;
}
#pink {
	color: #e27ea6;
}
#y {
	color: #f9e300;
}